body{
    background:url(bg.png)no-repeat center fixed;
    background-size: cover;
    background-position: 50% 40%;
    opacity: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.navbar{
    height: 60px;
    background: url(checks.jpg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 0.9;
}
.navbar:hover{
    opacity: 1;
}
.login_text{
    margin-left: 50px;
    font-size: 40px;
    font-family:'Caveat Brush';
}
.back{
    position: absolute;
    margin-left:95%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    margin-bottom:10px;
    text-decoration: none;
    color: black;
}
.back:hover{
    position: absolute;
    margin-left:95%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    margin-bottom:10px;
    text-decoration: none;
    color: black;
}
/* Reset CSS */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
} */
body {
  /* background: #DCDDDF url(https://cssdeck.com/uploads/media/items/7/7AF2Qzt.png); */
  color: #000;
  font: 14px Arial;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.card {
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    background: #fff;
    border: none;
    height: 350px;
    position: relative;
    top: 100px;
}

.container {
    height: 100%;
}

.mobile-text {
    color: #989696b8;
    font-size: 15px
}

.form-control {
    margin-right: 12px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff8880;
    outline: 0;
    box-shadow: none
}

.cursor {
    cursor: pointer
}

.otp{
  padding: 2px 5px;
  font-size: 19px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left:122px;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.otp:hover {
    background-color: #3e8e41
}

.otp:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}