/* body,
button,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
} */

.contact__main {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #b7ea1dcd 0%, #eb466b 100%);
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

.contact__navbar {
  height: 70px;
  z-index: 1;
  background: rgb(61, 23, 150);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0.9;
}
.contact__navbar:hover {
  opacity: 1;
}

.contact__contact-us {
  color: rgb(255, 255, 255);
  margin-left: 50px;
  font-size: 40px;
  font-family: "Segoe Script";
}

.contact__logout {
  position: absolute;
  cursor: pointer;
  margin-left: 90%;
  top: -1px;
  /* margin-bottom:10px; */
  /* text-decoration: none; */
  /* color: black; */
}

.contact__text {
  display: none;
  position: relative;

  padding: 5px;
  font-family: cursive;
  color: aliceblue;
  right: 43px;
  font-size: 17px;
  text-decoration: rgb(255, 255, 255);
}

.contact__logout:hover .contact__text {
  border-radius: 10px;
  border: 2px;
  display: block;
}

.contact__back:hover {
  position: absolute;
  margin-left: 95%;
  font-size: 70px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.contact__background {
  display: flex;
  min-height: 90vh;
}

.contact__container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.contact__screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.contact__screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.contact__screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.contact__screen-header-left {
  margin-right: auto;
}

.contact__screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.contact__screen-header-button.close {
  background: #ed1c6f;
}

.contact__screen-header-button.maximize {
  background: #e8e925;
}

.contact__screen-header-button.minimize {
  background: #74c54f;
}

.contact__screen-header-right {
  display: flex;
}

.contact__screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.contact__screen-body {
  display: flex;
}

.contact__screen-body-item {
  flex: 1;
  padding: 50px;
}

.contact__screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.contact__app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: whitesmoke;
  font-size: 26px;
}

.contact__app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -15px; 
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.contact__app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.contact__app-form-group {
  margin-bottom: 15px;
}

.contact__app-form-group.message {
  margin-top: 40px;
}

.contact__app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.contact__app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.contact__app-form-control::placeholder {
  color: #666;
}

.contact__app-form-control:focus {
  border-bottom-color: #ddd;
}

.contact__app-form-button-send {
  background: none;
  border: none;
  color: whitesmoke;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}
.contact__app-form-button-cancel {
  background: none;
  border: none;
  color: whitesmoke;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.contact__app-form-button-send:hover {
  color: #4ab913;
}
.contact__app-form-button-cancel:hover {
  color: #b91913;
}
.contact__credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.contact__credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.contact__dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .contact__screen-body {
    flex-direction: column;
  }

  .contact__screen-body-item.left {
    margin-bottom: 30px;
  }

  .contact__app-title {
    flex-direction: row;
  }

  .contact__app-title span {
    margin-right: 12px;
  }

  .contact__app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .contact__screen-body {
    padding: 40px;
  }

  .contact__screen-body-item {
    padding: 0;
  }
}
.contact__icons {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 3px;
  display: flex;
  justify-content: center;
}

.contact__icon_bar{
  display: flex;
  justify-content: space-between;
  width: calc(20vw + 50px);
}
