body{
  overflow: hidden;
}
.Todo{
  /* background-image: url(../../../public/assets/images/todoBackgrounds.jpg); */
  background-position: 0% -50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  /* margin: -18% -5%; */
  width: 100vw;
  height: 130vh;
  color: black;
}
.Todo .Todo_input {
  border: 1px black solid;
  margin-top: 10%;
  padding: 20px;
  font-size: 24px;
  /* border: none; */
  width: 95%;
  align-self: center;
  /* outline: 100px green; */
}

.Todo_done {
  text-decoration: line-through;
  color: green;
}

/* .Todo_{
  margin: 32px 0px;
  display: flex;
  align-items: center;
  font-size: 24px;
} */

.Todo_checkbox {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  background: #d9d9d9;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  transition: all 300ms ease;
}

.Todo_checkbox:hover {
  opacity: 0.8;
}

.Todo_delete {
  margin-left: auto;
  font-size: 2rem;
  margin-right: 6rem;
  cursor: pointer;
}

.Todo_delete:hover {
  opacity: 0.8;
}

.Todo_todo{
  display: flex;
  align-items: center;
  margin-left: 4rem;
  padding: 1.7rem 0rem;
}