#img_preload {
  height: 100vh;
}
.loder {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 3px solid white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  animation: loding 1s linear infinite;
  -webkit-animation: loding 1s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes loding {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
